@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('./fonts/IntegralCF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-light';
  src: url('./fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-Medium';
  src: url('./fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-extralight';
  src: url('./fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'InstrumentSerif-Regular';
  src: url('./fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-regular';
  src: url('./fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    background: #ffffff  }
  
  header {
    font-family: 'inter-regular', sans-serif;
    background: #101010;
  }

  
  .navbar {
  width: 100%;
  height: 100px;
  background: #101010;
  position: relative;
}

.nav-edges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 80px;
  position: relative; /* pour que les éléments gauche et droite restent flex */
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



  .nav-right {
    gap: 40px;
  }
  

  .navbar a {
    font-size: 20px;
    text-decoration: none;
    color: #F1E8CA;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .logo-nav img {
    height: 40px;
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    background: #F1E8CA;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease-in-out;
  }
  
  .navbar a:hover::after {
    width: 100%;
  }
  
  .navbar a.sans-bar:hover::after {
    width: 100%;
  }

.logo-nav::after {
  display: none;
}

.logo-nav:hover::after {
  display: none;
}


  

.hero {
  background-color: #858585;
  height: 80vh;
}
  