@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('./fonts/IntegralCF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-light';
  src: url('./fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-Medium';
  src: url('./fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-extralight';
  src: url('./fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InstrumentSerif-Regular';
  src: url('./fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-regular';
  src: url('./fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'vina-sans';
  src: url('./fonts/VinaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff
}

header {
  font-family: 'inter-regular', sans-serif;
  background: #101010;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #101010;
  position: fixed;
  z-index: 2000;
}

.nav-edges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-right {
  margin-right: 80px;
  gap: 40px;
}

.nav-left {
  margin-left: 80px;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: #F1E8CA;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.logo-nav img {
  height: 40px;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1.5px;
  background: #F1E8CA;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a.sans-bar:hover::after {
  width: 100%;
}

.logo-nav::after {
  display: none;
}

.logo-nav:hover::after {
  display: none;
}

.nav-right>a::after,
.nav-right>a:hover::after,
.dropdown a::after,
.dropdown a:hover::after {
  display: none !important;
}

.dropdown {
  position: relative;
}

.lang-button {
  background: none;
  border: none;
  color: #F1E8CA;
  font-size: 20px;
  font-family: 'inter-regular', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.lang-icon {
  transition: transform 0.3s ease;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #101010;
  padding: 10px 0;
  list-style: none;
  border: 1px solid #F1E8CA;
  display: none;
  flex-direction: column;
  min-width: 120px;
  z-index: 100;
  padding-top: 10px;
  margin-top: -10px;
}

.dropdown-menu {
  position: absolute;
  background-color: #10101089;
  border: none;
  top: 60px;
  left: 0px;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  color: #F1E8CA;
  text-decoration: none;
  font-size: 18px;
}

.dropdown-menu a:hover {
  color: #F1E8CA;
  text-decoration: underline;
}

.dropdown-menu a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1.5px;
  background: #F1E8CA;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.dropdown-menu a:hover::after {
  width: 100%;
}

.dropdown-menu a.sans-bar:hover::after {
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.lang-button {
  position: relative;
  padding: 20px 10px;
  background: none;
  border: none;
  color: #F1E8CA;
  font-size: 20px;
  font-family: 'inter-regular', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-clip: padding-box;
}

.lang-icon {
  overflow: visible;
}

.account-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #F1E8CA;
  text-decoration: none;
}

.account-icon {
  transition: transform 0.3s ease;
}

.lang-icon path {
  transition: transform 800ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.lang-arrow {
  transition: transform 800ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: center;
}

.lang-button:hover .lang-icon-arrow {
  transform: translateY(7px);
  transition: transform 300ms cubic-bezier(0.3, 2, 0.4, 1.8);
}

.account-icon .g1,
.account-icon .g2 {
  transition: transform 600ms cubic-bezier(0.3, 2, 0.4, 1.3);
  will-change: transform;
}

.account-button:hover .g1 {
  transform: translateX(7px);
}

.account-button:hover .g2 {
  transform: translateX(-13px);
}

.account-icon {
  overflow: visible;
}

.burger-icon {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1400px) {

  .nav-left,
  .dropdown,
  .account-button {
    display: none;
    padding: 0;
    margin: 0;
  }

  .burger-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-right {
    margin-right: 40px;
  }

  .navbar {
    height: 48px;
  }

  .logo-nav img {
    height: 30px;
  }

  .nav-center {
    position: relative;
    display: flex;
    align-items: left;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
    margin-left: 40px;
  }
}

.burger-svg {
  overflow: visible;
}

.burger-icon {
  position: relative;
  z-index: 1100;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.bar {
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger-icon.active .top {
  transform: translateY(8px) translateX(-8px) rotate(45deg);
}

.burger-icon.active .middle {
  opacity: 0;
}

.burger-icon.active .bottom {
  transform: translateY(-8px) translateX(-8px) rotate(-45deg);
}




.side-menu {
  position: fixed;
  top: 0;
  right: -25vw;
  width: 25vw;
  height: 100vh;
  background-color: #F1E8CA;
  border-left: 2px solid #101010;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 80px 40px 80px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

@media (max-width: 1024px) {
  .side-menu {
    position: fixed;
    top: 0;
    right: -50vw;
    width: 50vw;
    height: 100vh;
    background-color: #F1E8CA;
    border-left: 2px solid #101010;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 80px 40px 40px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.side-nav a {
  font-family: 'inter-regular', sans-serif;
  position: relative;
  color: #101010;
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
  /* Changé de 'block' à 'inline-block' */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.side-nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1.7px;
  background: #101010;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.side-nav a:hover::after {
  width: 100%;
}

.account-button2::after,
.account-button2:hover::after {
  display: none !important;
}



.side-menu.active {
  right: 0;
}

.burger-icon.active rect {
  fill: #101010;
}

.mascotte-logo-slider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.account-button2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #101010;
  text-decoration: none;
  position: absolute;
  top: 50vh;
}

.account-icon2 {
  transition: transform 0.3s ease;
  transform: translateY(4px);
}

.account-icon2 .g1-2,
.account-icon2 .g2-2 {
  transition: transform 600ms cubic-bezier(0.3, 2, 0.4, 1.3);
  will-change: transform;
}

.account-button2:hover .g1-2 {
  transform: translateX(7px);
}

.account-button2:hover .g2-2 {
  transform: translateX(-13px);
}

.account-icon2 {
  overflow: visible;
}



.hero {
  background-color: #858585;
  height: 10vh;
}